@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 0;
    padding: 0;    
}

.con{
    display: flex;
    flex-direction: column;
    margin: 150px 0;
}

h1{
    font-family: 'Big Shoulders Display', cursive;  
    text-transform: uppercase;
    color:  hsl(0, 0%, 95%);
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
    line-height: 25px;
}

.btn{
    color:  hsl(0, 0%, 95%);
    background-color: rgba(240, 248, 255, 0);
    font-size: 15px;
    padding: 10px;
    border: 3px solid hsl(0, 0%, 95%);
    border-radius: 25px;
}

.first-container{
    width: 288px;
    border-radius: 10px 10px 0 0px; 
}
.second-container{
    width: 288px;
}
.third-container{
    width: 288px;
    border-radius: 0px 0px 10px 10px; 
    margin-bottom: 150px;
}